name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v3

        - name: Create Release
          uses: ncipollo/release-action@v1